body{
  background-color: rgb(194, 204, 200);
}
h1{
  width: 50px
  height: 500px;
  margin-left: 300px;
  color: rgb(0, 0, 0);
  font-size: 50px;
}
h2{
  text-align: center;
}
p{
  text-align: left;

}
div[id="Centro"] h2{
  color: rgb(0, 71, 255);
  text-align: center;
  font-size: 30px;
}

.banner{
  width: 1230px;
  height: 120px;
  border: 3px solid rgb(0, 18, 255);
  margin-left: 50px;
  margin-right: 100px;
  position: static;
  background-size: 100% 100%;
  float: left;
  animation: banner 30s infinite;
}


@keyframes banner {
    0%, 20%{
        background-image: url(imagenes/ban1.jpg);
        opacity: 1;
    }
    21%, 23%{
      opacity: 0.1;
    }
    24%, 45%{
        background-image: url(imagenes/ban2.jpg);
        opacity: 1;
    }
    46%, 47%{
      opacity: 0.1;
    }
    48%, 74%{
        background-image: url(imagenes/ban3.jpg);
        opacity: 1;
    }
    75%, 77%{
      opacity: 0.1;
    }
    78%, 100%{
        background-image: url(imagenes/ban4.jpg);
        opacity: 1;
    }

}

#Izquierda{
  background-color: rgb(203, 203, 204);
  float: left;
  margin-left: 10px;
  margin-top: 2px;
  min-height: 500px;
  padding: 10px;
  width: 18%;
   border-style: dotted;
}
#Centro{
  margin: 5px;
  min-height: 500px;
  background-color: #949494;
  padding: 10px;
  float: left;
    width: 60%;

    width: 600px;
    height: 120px;

    margin-left: 80px;
    margin-right: 80px;

    background-size: 100% 100%;

    animation: centro 80s infinite;


  }
  @keyframes centro {
      0%, 14%{
          background-image: url(imagenes/col1.jpg);
          /*opacity: 1;*/
      }
      14%, 29%{
          background-image: url(imagenes/col5.jpg);
          /*opacity: 1;*/
      }

      29%, 44%{
          background-image: url(imagenes/col2.jpg);
            /*opacity: 1;*/
      }
      44%, 60%{
          background-image: url(imagenes/col6.jpg);
          /*opacity: 1;*/
      }

      60%, 74%{
          background-image: url(imagenes/col3.jpg);
            /*opacity: 1;*/
      }
      74%, 88%{
          background-image: url(imagenes/col7.jpg);
          /*opacity: 1;*/
      }

      88%, 100%{
          background-image: url(imagenes/col4.jpg);
            /*opacity: 1;*/
      }
}
#Derecha{
  background-color: rgb(173, 187, 240);
  float: left;
  margin-top: 5px;
  min-height: 500px;
  padding: 10px;
  width: 15%;
  border-style: dotted;
}
#Pie{
  background-color:rgb(194, 194, 218);
  clear: both;
  margin-top: 5px;
  padding-top: 3px;
  padding-right: 20px;
  border: 1px solid blue;
}

/*
div[id="Pie"] img{
  margin-top: 2px;
  width: 50px;
  height: 50px;
  border: 1px solid rgb(142, 142, 142);
  margin-right: 12px;

}*/
#izquierda nav{
    position: absolute;
    top: 60px;
    right: 100%;
    width: 100%;
    transition: all 0.4s;

}

 nav[class="escudo"] img{
  width: 180px;
  height: 180px;
  margin-left: 20px;

}
.menu__link {
    display: block;
    padding: 15px;
    background: #89DAF8  ;
    text-decoration: none;
    color: #000;
    border: 1px solid rgb(0,0, 0);
}

.footer{
    background:rgb(194, 194, 218);
    color: rgb(0, 0, 0);
    padding: 10px;
    text-align: center;
border: 1px solid rgb(142, 142, 142);
  margin-top: 10px;
}

.footer  img{
    display: inline-block;
    color: #fff;
    text-decoration: none;
    font-size: 30px;
    background: rgb(251, 251, 251);
    border-radius: 40%;
    width: 50px;
    height: 50px;
    line-height: 40px;
}
