div.papa{
width: 94%;
height: auto;
border: 1px solid red;
padding: 2em;
display: flex;
flex-wrap: wrap;
justify-content: center;
}

div#lubricantes{
  width: 27%;
  height: auto;
  border: 1px dashed blue;
  margin: 2em;
  padding: 1em;
  text-decoration: none;
  text-decoration-style:none;

}
div#lubricantes:hover{
  background: red;

}

img{
  width: 100%;
  height: 50%;

}

h2:hover{
  color: #fff;
}
a{
  text-decoration: none;
}
